ul{
	list-style-type:none;

	li{
		color:$azul-copado;
	}
}

h3{
	color:$verde;
	text-decoration:underline;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}

table{
	margin-top:50px;
	margin-bottom:20px;
	margin-left:350px;
}
